enable
configure terminal

bridge brlan0
    no shutdown
end

nat pool home-nat
 
dhcp lan-side-network 
    subnet 192.168.10.0/24
    pool 192.168.10.2 192.168.10.254
    option routers 192.168.10.1
    commit
end   

wireless home-wireless-network
    ssid "home"
    wpa-passphrase "password"
    wpa WPA2
    wpa-key-mgmt WPA-PSK   
    hw-mode any
    channel 6
end 
 
flush enx00249b119cef
rename if enx00249b119cef if-alias Gig0

interface Gig0
    ip dhcp-client
    ip nat outside pool-name home-nat
    no shutdown   
end

interface loopback 1
    ip address 192.168.10.1 255.255.255.0
    bridge-group brlan0
    ip nat inside pool-name home-nat 
    no shutdown
end


flush enx9cebe81be18a
rename if enx9cebe81be18a if-alias Gig1

interface Gig1
    bridge-group brlan0
    no shutdown
end

flush wlp58s0
rename if wlp58s0 if-alias wlan0

interface wlan0
    wireless-policy home-wireless-network
    bridge-group brlan0
    ip nat inside pool-name home-nat  
    no shutdown
end

flush enx3c8cf8f943a2
rename if enx3c8cf8f943a2 if-alias Gig2

interface Gig2
    shutdown
end
